@import "node_modules/@glidejs/glide/dist/css/glide.core.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-enable {
      border: initial;
  }
}
@layer components {
    .dialog-container,
    .dialog-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .5s ease-in-out;
    }

    .dialog-close {
        position: absolute;
        top: 0;
        right: .5rem;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dialog-container {
        z-index: 2;
        display: flex;
    }

    .dialog-container[aria-hidden='true'] {
        display: none;
    }

    .dialog-overlay {
        background-color: rgba(79, 70, 229, 0.9);
    }

    .dialog-content {
        margin: auto;
        z-index: 2;
        position: relative;
        background-color: white;
        padding: .5rem;
        width: 100vh;
        height: 100vh;
    }

    .dialog-content__main {
        padding: 2rem;
    }
}